.header {
    height: 40vw;
    width: 100%;
    margin: 0 auto;

    position: relative;
    margin: 0 auto;
    /* border-radius: 20px; */
    background: url(./background.jpg) no-repeat;
    background-size: cover;






}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    top: 15%;
    bottom: auto;
    margin-top: 50px;
    margin-left: 30px;

    left: 6vw;
    z-index: 10;
    animation: fadeIn 3s;
}

.header-contents h2 {
    font-weight: 700;
    font-size: max(4.5vw, 22px);
    color: black;
    font-weight: bold;
  
   


}

.header-contents p {
    color: white;
    font-size: 1vw;
    color: black;
    font-weight: bold;
}

.header-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Responsive adjustment for tablets/mobiles */
@media (max-width: 750px) {
    .header-contents {
        max-width: 65%;
    }

    .header-contents p {
        display: none;
    }

    .header-contents button {
        padding: 2vw 4vw;
    }
}

@media (max-width:1050px) {

    .header-contents {
        max-width: 45%;
    }

}

@media (max-width:750px) {

    .header-contents {
        max-width: 65%;
    }

    .header-contents p {
        display: none;
    }

    .header-contents buttons {
        padding: 2vw 4vw;
    }

    .header-contents h2 {
        font-size: 18px;
    }

}
